<% if !logged_in?%>
<div class="hero-unit">
	<h1>Welcome to Post it!</h1>
<p>Post notes, share comments & more! </p>
<p class ="pull-right">
	<%= link_to 'Register Here' , register_path ,class: "btn btn-primary btn-large"%>
	</p>
</div>
<%end%>
<h3>All Posts</h3>


<% @posts.each do |post| %>
<% if logged_in? %>
<div class="well span1">
	<%= link_to vote_post_path(post, vote: true), method: 'post' do%>
	<i class="icon-arrow-up"></i>
	<% end %>
	<br/ >
	<%= "#{post.total_votes} votes"%>
	<br/ >
	<%= link_to vote_post_path(post, vote: false), method: 'post' do %>
	<i class="icon-arrow-down"></i>
	<% end %>
	</div>

	<% end %>
	<ul class="well span9">

		<%= link_to post.title, post_path(post) %>
	

	<% if logged_in? && current_user == post.creator %>
	<small>
		<%= link_to '(edit)', edit_post_path(post) %>
	</small>
	<% end %>
	<br/ >
	
	<small >
		<strong>Created at: </strong><em><%= time_tag post.created_at %></em>
	</small>
	<br/ >
	<small >
		<strong>Created by: </strong><em><%= post.creator.username %></em>
	</small>
	

</ul>

<% end %>