<h3><%= @post.title%></h3>
<ul class="well " >
	<strong>Title:</strong> <br/ ><%= @post.title%>
	<br/ ><hr>
	<strong>URL:</strong> <br/ ><%= @post.url%>
	<br/ ><hr>
	<strong>DESCRIPTION:</strong> <br/ ><%= @post.description%>
</ul>

Comments:
<br/ >
<% @post.comments.each do|comment| %>
<br/ >

	<div class="row">
	<% if logged_in? %>
	<div id="voting" class="well span1">
		
		<%= link_to vote_post_comment_path(@post, comment, vote: true), method: 'post' do %>
		<i class="icon-level-up icon-2x"></i>
		<% end %>
		<br/ >
		<%= "#{comment.total_votes} votes" %>
		
		<%= link_to vote_post_comment_path(@post, comment, vote: false), method: 'post' do%>
		<i class="icon-level-down icon-2x"></i>
		<% end %>
		
	</div>
	<% end %>
	

		
		<ul class="well span9">
			
				
		<%= comment.body %>
		<br/ >
		
		<small><strong>Created by: </strong><em><%= comment.creator.username %></em></small>
	
		</ul>
	</div>
	
				
		<% end %>
		<div class="row">
			<div class= "span6">
		<% if logged_in? %>
		
		<%= link_to "Add Comment", new_post_comment_path(@post) %>
		<br/ >
		<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<br/ >
		</div>
			</div>	



	<div class="row">
		<div class="span3">
	<% if logged_in? && current_user == @post.creator%>
<%= link_to 'Edit', edit_post_path(@post)%>
<br />
<% end %>
<%= link_to 'Back', posts_path %>
</div>
</div>
