<h3><%= @post.title%></h3>
<ul class="well">
	<li><%= @post.title%></li>
	<li><%= @post.url%></li>
	<li><%= @post.description%></li>
	<ul>
		<% @post.comments.each do|comment| %>
		<li><%= comment.body %></li>
		<% end %>
		
	</ul>
</ul>
<%= link_to 'Edit', edit_post_path(@post)%>
<br />
<%= link_to 'Back', posts_path %>
